<footer class="footer_grizmosis">
<a class="subscribe_grizmosis icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_grizmosis">Subscribe!</span></a>
<div class="footertext_grizmosis">All content Ⓒ <a href="/">{{@blog.title}}</a> &copy; 2016 &bull; All rights reserved.</div>